{% extends 'base.html.twig' %}
{% block title %}
{{ program.title}} - Season #{{ season.id }}
{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }} - Saison {{ season.number }}</h1>
            <p>{{ season.description }}</p>
            <p>Année de sortie : {{ season.year }}</p>
        </div>
    </div>

    <h2>Épisodes</h2>
    <ul>
        {% for episode in season.episodes %}
            <li>
                <a href="{{ path("episode_show", { slug: program.slug, season_id: season.id, episode_id: episode.id}) }}"><strong>Épisode {{ episode.number }}</strong></a>
                {{ episode.title }} - {{ episode.synopsis }}
        {% endfor %}
    </ul>

    <a href="{{ path('program_show', {'slug': program.slug}) }}">
        Retour à la série
    </a>
{% endblock %}